.FooterStickey {
  position: sticky;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}

.FooterStickeyBox {
  width: 80%;
  margin: auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .08);

  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FooterStickeyBoxA {
  width: 70%;

}

.FooterStickeyBoxB {
  width: 20%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.FScontent {
  display: flex;
  flex-direction: column;
}

.FScontent span {
  font-size: 15px;
  font-weight: 600;
}
.FScontent small {
  font-size: 13px;
  font-weight: 600;
}

/* Add this to your main.module.css or a new CSS file */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideUp {
  animation: slideUp 0.5s ease-out forwards;
}

.FmenuBox {
  margin-top: 20px;
}

.ContactItem {
  display: flex;

  margin-top: 10px;
}

.ContacTTitle span {
  font-size: 15px !important;
  font-weight: 600;
}

.ContactItemA {
  margin-top: 3px;
}

.ContactItemB {
  margin-left: 10px;
  font-weight: 500;
}

.FmenuItem {
  margin-top: 10px;
  cursor: pointer;
}

.Contactusp {
  display: flex;

}

.ContactuspA {
  width: 50%;
  background-color: #ffffff;
  padding: 30px;

}

.ContactuspB {
  width: 50%;
}

.PlanGrid {
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.AboutPage h3 {
  margin: 0;
}

.PlanImg {
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(233, 229, 225);
}

.Pricebox {
  margin: 5px;

}

.Pricebox del {
  color: red;
}

.Pricebox span {
  color: rgb(0, 81, 255);
  font-weight: 700;
  font-size: 15px;
}

.PriceboxText small {
  color: rgb(54, 55, 58);
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.PlanItem {
  padding: 20px;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
  margin: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PlanTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.WaringBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;

  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, .08);
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.Pmtag {
  margin: 5px;

  text-transform: uppercase;

  padding: 3px 15px 2px 15px;
  border-radius: 5px;
  background-color: #405aee;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

}

.Pmtag span {
  color: rgb(255, 255, 255);

  font-size: 10px;
  font-weight: 700;
}

.PmtagCredit {
  margin: 5px;
  text-transform: uppercase;
  border-radius: 5px;

  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.PmtagCredit span {
  color: #F39C12;

  font-size: 25px;
  font-weight: 700;
}

.PmtagCredit small {
  color: #A3E4D7;

  font-size: 10px;
  font-weight: 700;
}

.PMItemFotter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eaeaf1b4;
  padding-top: 10px;
}


.includedBox {
  margin-top: 20px;
}

.includedBoxTitle span {
  font-weight: 500;
  font-size: 12px;
}

.PlanInItem {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  border-bottom: 1px solid rgb(242, 234, 234);
  padding: 5px;
}

.PlanInItemA {
  width: 50%;

}

.PlanInItemB {
  width: 50%;
}

.PlanInItemA {
  font-size: 13px;
  font-weight: 500;
}

.PlanInItemB {
  font-size: 13px;
  font-weight: 600;
}

.Planh {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.PlanhA {
  text-align: center;
}

.PlanhA h1 {

  margin: 0;

}

.PlanhAx span {
  font-size: 15px;
  font-weight: 600;
  color: #ea4e4e;

}

.PlanhB {
  margin: 20px;
}

.PlanTitle span {
  font-weight: 600;
  font-size: 20px;
}

.PlanTitle small {
  font-weight: 500;
  font-size: 14px;
}

.includedBox {
  margin-top: 20px;
}

.includedBoxTitle span {
  font-weight: 500;
  font-size: 12px;
}

.PTSelctbtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d4d4dc;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 40px;

}

.PTSelctbtnActive {
  width: 50%;
  background-color: #5569ff;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  font-weight: 600;
  min-width: fit-content;
  cursor: pointer;
  margin: 5px;
}

.PTSelctbtn {
  margin: 5px;
  cursor: pointer;
  width: 50%;
  background-color: #f8f1f1;

  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  font-weight: 600;
  color: rgb(95, 86, 86);

  /* border: 1px solid #d4d4dc; */
  min-width: fit-content;
}


.Planh {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.PlanhA {
  text-align: center;
}

.PlanhA h1 {

  margin: 0;

}

.PlanhAx span {
  font-size: 15px;
  font-weight: 600;
  color: #ea4e4e;

}

.PlanhB {
  margin: 20px;
}

.FotterM {
  background-image: radial-gradient(circle at 99% 0%, rgba(235, 235, 235, 0.03) 0%, rgba(235, 235, 235, 0.03) 50%, rgba(142, 142, 142, 0.03) 50%, rgba(142, 142, 142, 0.03) 100%), radial-gradient(circle at 84% 89%, rgba(229, 229, 229, 0.03) 0%, rgba(229, 229, 229, 0.03) 50%, rgba(1, 1, 1, 0.03) 50%, rgba(1, 1, 1, 0.03) 100%), radial-gradient(circle at 89% 20%, rgba(219, 219, 219, 0.03) 0%, rgba(219, 219, 219, 0.03) 50%, rgba(38, 38, 38, 0.03) 50%, rgba(38, 38, 38, 0.03) 100%), radial-gradient(circle at 90% 0%, rgba(48, 48, 48, 0.03) 0%, rgba(48, 48, 48, 0.03) 50%, rgba(109, 109, 109, 0.03) 50%, rgba(109, 109, 109, 0.03) 100%), linear-gradient(45deg, rgb(85, 105, 255), rgb(164, 129, 216));
  backdrop-filter: blur(8px);

  color: white;


}

.menuurlf {
  min-width: fit-content;
  margin: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;

}


.menuurlfGrid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;


}
.PrimaryColor{
  color: #405aee;
}

.FotterMBox {
  width: 80%;
  margin: 0 auto !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;

}

.Madein {
  display: flex;
  align-items: center;
  min-width: fit-content;

  font-weight: 600;
  color: yellow;

}

.FotterDeviderdot {
  background-image: url(/img/bgd.png);
  background-repeat: repeat;
  width: 100%;
  min-height: 50px;
  margin-top: 5px;
}

.playerwrapper {
  position: relative;
  border-radius: 20px;
  overflow: 'hidden';
  height: 450px;

}

.reactplayer {
  position: relative;
  height: 450px;
  margin-top: 20px;
  border-radius: 20px;
  overflow: 'hidden'
}

.Golivebox {
  width: 80%;
  margin: 0 auto;
}

.GoliveImg img {
  width: 100%;
}

.GoliveBtn {
  margin: auto;
  width: 50%;
}

.FeatursGrid {
  margin-top: 5px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.FeatursItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  margin: 5px;
  padding: 10px;
  border-radius: 10px;

}

.FeatursItemA {
  min-width: 25px;
  min-height: 25px;
}

.FeatursItemB {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  line-height: normal;

}

.FeatursItemB span {
  font-size: 14px;
  font-weight: 600;
}

.FeatursItemB small {
  font-size: 12px;
  font-weight: 500;
  color: rgb(103, 99, 107);
}

.SecInTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 70%;
  margin: auto;
}

.SecInTitle h1 {

  font-weight: 600;
  margin: 0;
}

.SecInTitle span {
  font-size: 15px;
  font-weight: 500;
  color: rgb(103, 99, 107);
}

.KeyFeatures {
  display: flex;
  align-items: center;

}

.KeyFeaturesA {
  width: 50%;
  padding: 50px;
}

.KeyFeaturesB {
  width: 50%;
  padding: 0px;
}

.KeyFeaturesAImg {
  width: 100%;
  border-radius: 20px;

}

.MainDevidor {
  min-height: 60px;
}

.HighlightsBox {
  width: 90%;
  margin: auto;
}

.Highlights {

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  place-items: center;
}

.HighlightsItem {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.HighlightsDe {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HighlightsDe span {
  font-size: 18px;
  font-weight: 600;
}

.HighlightsDe small {
  font-size: 13px;
  font-weight: 500;
  color: rgb(103, 99, 107);
}

.HighlightsImg {
  min-width: 70px;
  min-height: 70px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .08);

  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;

  transition: background-color 0.3s ease;
  z-index: 999;

}

.Heroimg {
  width: 100%;
  cursor: pointer;

}

.Heroimg img {
  width: 100%;

}

.Transprent {
  background-color: transparent;

}

.White {
  background-color: rgb(255, 255, 255);
}

.navContent {
  display: flex;

  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 1rem;
  justify-content: space-between;
}

.AboutPage {
  box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
  border-radius: 10px;
  padding: 20px 50px 50px 50px;
}

.SmallDevidor {
  min-height: 20px;
}

.Container {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;

}

.NavLogo {
  width: 120px;
  cursor: pointer;
}

.HomeMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.HomeMenuItem {
  margin-left: 30px;
  cursor: pointer;
  width: fit-content;
  margin-right: 30px;
}

.HomeMenuItem span {
  font-size: 15px;
  font-weight: 600;
}

.NavBtn {
  display: flex;
  align-items: center;
  margin-left: 30px;
  width: fit-content;
}

.navContentB {
  width: 80%;
  display: flex;
  align-items: center;

  justify-content: flex-end;
}

.OnlyDesktop {
  display: block;
}

.OnlyMobile {
  display: none;
}

@media only screen and (max-width: 1100px) {

  .navbar {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0;
    transition: background-color 0.3s ease;
    z-index: 999;
    overflow: hidden;

  }

  .navbar.scrolled {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navContent {
    display: flex;

    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 0.5rem;


    justify-content: space-between;
  }

  .Container {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .NavLogo {
    width: 100px;
    cursor: pointer;
  }

  .HomeMenu {
    display: none;


  }

  .HomeMenuItem {
    margin-left: 30px;
    cursor: pointer;
    width: fit-content;
    margin-right: 30px;
  }

  .HomeMenuItem span {
    font-size: 15px;
    font-weight: 600;
  }

  .NavBtn {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: auto;
  }

  .navContentB {
    width: auto;
    display: flex;
    align-items: center;

    justify-content: flex-end;
  }

  .OnlyDesktop {
    display: none;
  }

  .OnlyMobile {
    display: block;
  }

  .HighlightsBox {
    width: 100%;
    margin: auto;
  }

  .Highlights {

    display: flex;
    gap: 1rem;
    grid-template-columns: none;
    place-items: initial;
    overflow: auto;

  }



  .Highlights::-webkit-scrollbar {
    display: none;
  }

  .HighlightsItem {
    text-align: initial;
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: initial;
    min-width: 70%;

  }

  .HighlightsImg {
    min-height: 60px;
    min-width: 60px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 0px;
    margin: 5px;
    background-color: rgb(241, 234, 234);
  }


  .HighlightsDe {
    text-align: initial;
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
    margin-left: 10px;
  }

  .HighlightsDe span {
    font-size: 15px;
    font-weight: 600;
  }

  .HighlightsDe small {
    font-size: 12px;
    font-weight: 500;
    color: rgb(103, 99, 107);
  }



  .KeyFeatures {
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .KeyFeaturesA {
    width: 100%;
    padding: 5px;
  }

  .KeyFeaturesB {
    width: 100%;
    padding: 5px;
  }

  .KeyFeaturesAImg {
    width: 100%;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
  }

  .MainDevidor {
    min-height: 30px;
  }

  .SecInTitle {
    padding: 10px;
    max-width: 99%;
    margin: auto;
  }

  .SecInTitle h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }

  .SecInTitle span {
    font-size: 12px;
    font-weight: 500;
    color: rgb(103, 99, 107);
  }


  .FeatursItem {
    display: flex;
    align-items: initial;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;

  }


  .Golivebox {
    width: 95%;
    margin: 0 auto;
  }

  .playerwrapper {
    position: relative;
    border-radius: 20px;
    overflow: 'hidden';
    height: 350px;

  }

  .reactplayer {
    position: relative;
    height: 350px;
    margin-top: 20px;
    border-radius: 20px;
    overflow: 'hidden'
  }

  .menuurlfGrid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;


  }


  .FotterMBox {
    width: 80%;
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;

  }

  .FotterMBoxB {
    text-align: center;
  }

  .Madein {
    display: flex;
    align-items: center;
    min-width: fit-content;
    justify-content: center;
    font-weight: 600;
    color: yellow;

  }

  .AboutPage {
    box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
  }

  .Contactusp {
    display: flex;
    flex-direction: column;

  }

  .ContactuspA {
    width: 100%;
    background-color: #ffffff;
    padding: 30px;

  }

  .ContactuspB {
    width: 100%;

  }

  .FooterStickey {
    position: sticky;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }

  .FooterStickeyBox {
    width: 98%;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .FooterStickeyBoxA {
    width: 50%;

  }

  .FooterStickeyBoxB {
    width: 40%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }

  .FScontent {
    display: flex;
    flex-direction: column;
  }

  .FScontent span {
    font-size: 12px;
    font-weight: 600;
  }
  .FScontent small {
    font-size: 8px;
    font-weight: 600;
   
  }

}