.UserDpEditbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.DbContainerpaddingOnlyDesktop{
    padding: 10px;
}
.DbUserProfileBox {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
}

.DbUserProfileBox1 {
    display: flex;
}

.DbUserProfileBoxB {
    margin-left: 10px;
}

.PorifleName {
    display: flex;
    flex-direction: column;
}

.PorifleName span {
    font-size: 25px;
    font-weight: 600;
}

.ContainerItemBox {
    margin-top: 20px;
}

.DbCopyrightbox {
    font-size: 10px;
    text-align: center;
}

.DbMenuTitle {
    border-bottom: 0.5px solid rgb(213, 201, 201);
    padding-bottom: 10px;
}

.DbMenuTitle span {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.DbContainerpadding {
    padding: 20px;
}

.DbContainerpaddingDesktop {
    padding: 20px;
}

.WhitebgFull {
    background-color: white;
}

.DbProfileCounter {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
}

.DiloagTopWithclosebtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.DiloagTopWithclosebtnA span {
    font-size: 15px;
    font-weight: 600;
}

.MainPageboxGridA {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));

}


.targetText {
    margin-left: 10px;
    font-weight: 600;
}

.targetimg {
    width: 18px;
}

.GoalBoxGroupA {
    display: flex;
    align-items: center;

}

.GoalBoxGroup {
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.primaryColor {
    color: #00a6ff;
}

.GoalBoxGroup {
    margin-left: 30px;
}

.GoalBoxProfilebox span {
    font-size: 20px;
    font-weight: 600;

}





.VideoLoaderBox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);


}

.VideoLoaderBoxHide {
    display: none;


}

.VideoLoaderAnimationLo {
    width: 50%;
}

.VideoLoaderAnimation {
    width: 100%;
    margin: auto;
}

.VideoContainer {
    position: relative;
    width: 100%;


}

.Videoplyrbox {
    border-radius: 10px;
    overflow: hidden;

}

.VideoBybox {
    padding: 20px;
    background-color: #edf5fa;
    border-radius: 10px;
}

.VideoByboxA {
    display: flex;

}

.CreatorDesc {
    font-size: 12px;
}

.VideoByboxAVideoBybox span {
    font-weight: 600;
}

.VideoByboxAVideoBybox {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.livestickerbox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;

    background-color: rgba(255, 255, 255, 0);


}

.CmtinputAsName {
    font-size: 10px;
    text-align: center;
}

.VideoMasgbox {
    height: 400px;
    background-color: rgb(234, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.livestickerbox {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.livestickerboxAAnimation {
    width: 70px;

}

.LiveContainer {
    position: relative;
    width: 100%;


}

.NodatafoundBox {
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NodatafoundBoxText {
    text-align: center;
}

.playerloader {
    width: 100%;
    height: 500px;
}

.plyrbox {
    border-radius: 10px;
    overflow: hidden;

}


.Likedbox {
    display: flex;
    align-items: center;
}

.LikedboxA {
    font-weight: 500;
    margin-top: 7px;
}

.Comentbox {
    background-color: rgb(255, 255, 255);
    margin-left: 10px;

}

.CommentItemBox {
    background-color: #ffffff;
    height: 500px;
    overflow: auto;


}

.CommentItem {
    display: flex;
    margin: 10px;
    border-bottom: 1px solid rgb(223, 210, 210);
    padding-bottom: 10px;
}

.CommentItemB {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.CommentItemB span {
    font-weight: 500;
    font-size: 12px;
}

.CommentItemB small {

    font-size: 12px;
}

.AddCommentboxWatch {


    border-top: 1px dashed rgb(230, 217, 217);
}

.AddCommentboxMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    border-top: 1px dashed rgb(230, 217, 217);
}

.AddCommentbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    border-top: 1px dashed rgb(230, 217, 217);
}

.AddCommentboxA {
    display: flex;
    align-items: center;
    width: 80%;

}



.Cmtinput {
    min-width: 100%;

}

.Cmtinput input {
    padding: 10px;
    outline: 0;
    border: 0;
    width: 100%;
    font-weight: 500;
}

.ComentboxHeader {
    background-color: #00a6ff;
    ;
    padding: 10px;
    font-weight: 600;
    color: white;
}

.VideoPlayermenuBox {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.loaderLikeflex {
    display: flex;
    align-items: center;
}

.VideoPlayerTitlebox {
    display: flex;
    flex-direction: column;
}

.VideoPlayermenuBoxA {
    width: 80%;
}

.VideoPlayerTitlebox span {
    font-size: 15px;
    font-weight: 600;
}

.VideoPlayerTitlebox small {
    font-size: 10px;

}

.VideoPlayerBox {
    display: flex;
    padding: 10px;

}

.VideoPlayerBoxA {
    width: 70%;
}

.VideoPlayerBoxB {
    width: 30%;

}

.StikeyScrollmenu {
    display: flex;
    align-items: center;
    overflow: auto;
    background-color: #F5EEF8;


}

.StikeyScrollmenu::-webkit-scrollbar {
    display: none;
}

.StikeyScrollmenuItem {
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 10px;
    padding: 12px 20px 10px 20px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    min-width: fit-content;

}

.Titleboxitem {
    font-weight: 600;
    padding: 20px;
}

.StikeyScrollmenuItemActive {
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 10px;
    padding: 12px 20px 10px 20px;
    background-color: #00a6ff;
    color: rgb(255, 255, 255);
    cursor: pointer;

    min-width: fit-content;

}

.StikeyScrollmenuItem:hover {

    background-color: #00a6ff;
    color: rgb(255, 255, 255);

}

.StikeyScrollmenuItemB {
    margin-left: 5px;
    margin-top: -3px;
}

.Mobilelogodb {
    display: flex;
    align-items: center;
}

.VideoBoxFlex {
    display: flex;
}

.VideoBoxFlexA {
    width: 50%;
    overflow: hidden;
}

.VideoBoxFlexB {

    width: 50%;

}

.Videoeditcard {
    margin-left: 20px;
    margin-right: 20px;

}

.VideoeditcardContent {

    padding: 20px;
}

.VideolistboxItem {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;

    border-radius: 10px;
    cursor: pointer;
}


.VideolistboxItemA {
    width: 50%;
    display: flex;
}

.videothumbimg {
    width: 180px;
    border-radius: 10px;
    overflow: hidden;

}

.videothumbBox {
    display: flex;
    width: 50%;
}

.VideoContentbox {
    margin-left: 15px;

}


.VideoContentbox h3 {
    margin: 0;
}

.Vtitle {
    font-size: 15px;
    font-weight: 600;
}


.stickyBoxList {
    height: 500px;
}


.videothumbTitleBox {
    width: 75%;
    margin-left: 10px;
    padding: 10px;
}

.VideoStickList {
    display: flex;
    align-items: center;
    color: rgb(75, 100, 100);


}

.VideoStickListA {
    margin-top: 5px;
}

.VideoStickListB {

    margin-left: 5px;
    margin-top: -2px;
}

.VideoStickListBox {
    display: flex;
    align-items: center;
}

.TablevideotitleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.TablevideotitleBoxA {
    font-weight: 600;
}

.Logomain {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TitleWithBackHeader {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.TitleWithBackHeaderA {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.BtnFlexBox {
    display: flex;
    align-items: center;

}

.BtnFlexBoxMobile {
    display: none;


}

.DbContainer {
    margin: auto;
    width: 95%;
}

.DbContainerScroll {
    margin: auto;
    width: 95%;
    background-color: white;
    padding: 20px;
    height: 500px;
    overflow: auto;
}

.Logomain img {
    width: 100%;
}

.Logomain small {
    text-transform: uppercase;
    font-weight: 500;
}

.LoginBox {
    padding: 20px;
    background-color: red;

}

.inputlogin {
    min-width: 300px;
    margin: 20px;
}

.Catgrid {
    cursor: pointer;
}

.Catgrid:hover {
    border: 1px dashed #5569ff;
}

.OnlyMobile {
    display: none;
}

.OnlyDesktop {
    display: block;
}

.min100vh {
    margin-top: 20px;
    min-height: 100vh;
}

.ChapterlistItem {
    margin-top: 5px;
    border: 1px solid rgb(233, 222, 222);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.ChapterlistItem:hover {

    color: white;
    background-color: #00a6ff;

}

.ChapterlistItemA h3 {
    margin: 0;
}

.featuresimagebox {
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed rgb(211, 199, 199);
    display: flex;
    align-items: center;

}

.featuresimageboxA {
    width: 50%;
    text-align: center;
}

.ItemList {
    margin-top: 10px;
    border: 1px solid rgb(233, 222, 222);
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.ItemListBox {
    display: flex;
}

.ItemListBoxA {
    max-width: 200px;
}

.ItemListBoxB {
    margin-left: 10px;
}

.ItemListBoxB h3 {
    margin: 0;
}

.OptionItem {
    margin: 10px;
    border: 1px solid rgb(233, 222, 222);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.OptionItem:hover {
    color: rgb(214, 95, 95);
}

.OptionItemBox {
    display: flex;
    align-items: center;
}

.OptionItemBoxA {
    width: 100%;
}

.OptionItemBoxB {
    margin-left: 10px;
    width: fit-content;
}

.OptionItemBox h3 {
    margin: 0;
}

.OptionItemBox span {
    color: blue;
    font-size: 12px;
}

.Modalheader {
    display: flex;
    align-items: center;

}

.ModalheaderText {
    margin-left: 10px;
    font-weight: bold;
}

.Curserpointer {
    cursor: pointer;
}

@media only screen and (max-width: 1100px) {
    .DbContainerScroll {

        width: 100%;
        background-color: white;
        padding: 10px;
        height: 500px;
        overflow: auto;
    }

    .BtnFlexBox {
        display: none;
    }

    .BtnFlexBoxMobile {
        display: flex;
        align-items: center;
    }

    .OnlyDesktop {
        display: none;
    }

    .OnlyMobile {
        display: block;
    }

    .VideoStickListBox {
        display: flex;
        align-items: normal;
        flex-direction: column;
    }

    .VideolistboxItemA {
        width: 100%;
        display: flex;
    }


    .videothumbimg {
        width: 150px;


    }

    .FiEye {
        font-size: 20px !important;
    }

    .VideoPlayerBox {
        display: flex;
        padding: 0px;
        flex-direction: column;
        margin-top: -30px;
    }

    .VideoPlayerBoxA {
        width: 100%;
    }

    .VideoPlayerBoxB {
        width: 100%;
    }

    .Comentbox {

        margin: 0px;

    }

    .CommentItemBox {
        background-color: #ffffff;
        height: 100%;



    }

    .AddCommentbox {
        bottom: 0;
        position: sticky;
        background-color: #ffffff;
        width: 100%;

    }

    .AddCommentboxWatch {
        bottom: 0;
        position: fixed;
        background-color: #ffffff;
        width: 100%;
    }

    .ComentboxHeader {
        background-color: #ffffff;
        ;
        padding: 10px;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }

    .plyrbox {
        border-radius: 0px;
        overflow: hidden;

    }

    .Videoplyrbox {
        border-radius: 0px;
        overflow: hidden;

    }

    .NodatafoundBox {
        margin: auto;
        width: 100%;
        padding: 10px;
    }

    .livestickerboxAAnimation {
        width: 40px;

    }

    .VideoMasgbox {
        height: 300px;

    }

    .VideoBybox {
        padding: 15px;
        background-color: #edf5fa;
        border-radius: 0px;
    }

    .MainPageboxGridA {
        margin: 0 auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

    }

    .DbProfileCounter {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    }

    .DbContainerpaddingDesktop {
        padding: 0px;
    }
    .DbContainerpaddingOnlyDesktop{
        padding: 0px;
    }


}